html {
	overflow: hidden;
}

* {
	font-family: sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(252, 248, 242);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 3vh;
}

header h1 {
	font-size: 3rem;
}

main form {
	margin-top: 10vh;
	padding-left: 1rem;
	padding-right: 1rem;
}

#type-input {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

#type-input div input {
	max-width: 20rem;
	width: 70vw;
	height: 2.5rem;
	border: 2.5px solid rgb(172, 170, 170);
	border-radius: 0.5rem;
	padding-left: 1rem;
}

#type-input div input:hover,
#type-input div input:focus {
	border: 2.5px solid gray;
}

#usr-info {
	color: rgb(250, 125, 125);
}

#pwd-info {
	color: rgb(250, 125, 125);
}

main label {
	font-weight: 500;
}

#login-btn-div {
	display: grid;
	justify-content: center;
	align-items: center;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

#login-button {
	max-width: 21rem;
	width: 75vw;
	text-align: center;
	height: 2.5rem;
	background-color: rgb(54, 51, 51);
	color: white;
	border: none;
	text-decoration: none;
	border-radius: 0.4rem;
}

#login-button:hover {
	background-color: rgb(83, 80, 80);
}

#bottom-features {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 0.8rem;
	width: 100%;
	gap: 24vw;
}

#recovery {
	font-size: 0.7rem;
	color: rgb(110, 110, 255);
}

#recovery:hover,
#recovery:focus {
	color: rgb(181, 181, 245);
}

#toggle-pwd {
	font-size: 0.8rem;
}

#other-method {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1.5rem;
}

#other-method img {
	max-width: 2rem;
	width: 10%;
	padding: 0rem;
	padding-left: 1rem;
}

#other-method img:hover,
#other-method img:focus {
	opacity: 0.8;
}

#other-method p {
	border-right: 2px solid black;
	padding-right: 1rem;
}

.status {
	display: none;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0%;
 top: 5%;
	text-align: left;
	animation-name: pop_up;
	animation-duration: 4s;
}

#login-status-block {
	background-color: rgb(236, 228, 228);
	padding: 1rem 1rem 0.5rem 1rem;
	width: fit-content;
	height: fit-content;
	border-radius: 0.7rem;
	padding-top: 0.5rem;
	border: 1.5px solid rgb(174, 163, 163);
}

#login-status span {
	text-align: center;
	font-weight: 500;
	color: rgb(0, 0, 0);
}

@keyframes pop_up {
	0% {
  top: 5%;
		bottom: 0%;	
	}
	12.5% {
  top: 0%;
		bottom: 15%;	
	}
	87.5% {
  top: 0;
		bottom: 15%;	
	}
	100% {
  top: 5%;
		bottom: 0%;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	background-color: black;
}

footer p {
	color: azure;
	font-weight: bold;
}

/* RESPONSIVE */

@media only screen and (min-width: 465px) {
	#bottom-features {
		gap: 8rem;
	}
}